body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;

    border-radius: 5px;
   
}

.health-status {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.category {
    text-align: center;
    padding: 10px;

    border-radius: 5px;
}

.category h2 {
    margin: 5px 0;
}

.percentage {
    font-size: 24px;
    font-weight: bold;

}
